<div class="navbar navbar-fixed-top navbar-inverse" role="navigation" ng-controller="NavCtrl">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">PSP</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#dashboard">Dashboard</a>
                </li>
                <li>
                    <a href="#reports">Reports</a>
                </li>
                <li>
                    <a href="#forms">Forms</a>
                </li>
                <li>
                    <a href="#settings">Settings</a>
                    <ul></ul>
                </li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li>
                    <a ng-show="!isAuthenticated" href="#login">Sign In</a>
                </li>
                <li>
                    <a ng-show="isAuthenticated" ng-click="logout()">Sign Out</a>
                </li>
            </ul>
        </div>
        <!-- /.nav-collapse -->
    </div>
    <!-- /.container -->
</div>