<div class="navbar navbar-fixed-top navbar-inverse" role="navigation" ng-controller="NavCtrl">
    <div class="container">
        <a class="menu-toggler" href="#"><i class="icon-reorder"></i></a>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">PSP</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>

                </li>
                <!--<li ng-class="{active:isActive(['/dashboard'])}">-->
                    <!--<a href="#dashboard">Dashboard</a>-->
                <!--</li>-->
                <li ng-class="{active:isActive(['/reports/gsr'])}">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">Reports<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li data-access-level='manager'><a href="#/reports/gsr">GSR</a></li>
                        <li data-access-level='manager'><a href="#/reports/volume">Volume</a></li>
                        <li data-access-level='office'><a href="#/reports/birthdays">Birthday</a></li>
                        <li data-access-level='office'><a href="#/reports/customerregistrations">Customer Registration</a></li>
                        <li data-access-level='office'><a href="#/reports/engine">Report Engine</a></li>
                    </ul>
                </li>
                <li  data-access-level='admin' ng-class="{active:isActive(['/forms/claims'])}">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">Forms<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/forms/claims">Claims</a></li>
                    </ul>
                </li>
                <li  data-access-level='admin' ng-class="{active:isActive(['/settings/users','/settings/sites', '/settings/notifications'])}">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">Settings<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#/settings/users">Users</a>
                        </li>
                        <li>
                            <a href="#/settings/sites">Sites</a>
                        </li>
                        <li>
                            <a href="#/settings/notifications">Notifications</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li ng-show="isAuthenticated">
                    <a href="#">{{ getLoggedOnUser() }}</a>
                </li>
                <li>
                    <a ng-show="!isAuthenticated" ui-sref="root.login"><i class="glyphicon glyphicon-log-in"></i></a>
                </li>
                <li>
                    <a ng-show="isAuthenticated" title="Log Out" ng-click="logout()"><i class="glyphicon glyphicon-log-out"></i></a>
                </li>
            </ul>
        </div>
        <!-- /.nav-collapse -->
    </div>
    <!-- /.container -->
</div>
