<div class="modal-header dialog-header-confirm">
	<button type="button" class="close" ng-click="$close()">&times;</button>
	<h4 class="modal-title">
		<span class="glyphicon glyphicon-check"></span>
		Change Password
	</h4>
</div>
<div class="modal-body">
	<form name="userForm">
		<ng-form name="currentForm">
			<div class="control-group span6">
				<label class="control-label"><b>Current Password:</b></label>
				<div class="controls">
					<input value="{{ model.currentPassword }}" control-group="false" name="current" id="current" class="form-control" type="password" placeholder="Enter current password" ng-model="model.currentPassword" isrequired="true" field-validate autofocus>
				</div>
			</div>
		</ng-form>
		<ng-form name="newForm">
			<div class="control-group">
				<label class="control-label"><b>New Password:</b></label>
				<div class="controls">
					<input value="{{ model.newPassword}}" name="newPassword" id="newPassword" class="form-control" type="password" placeholder="Enter new password" ng-model="model.newPassword" control-group="false" isrequired="true" field-validate >
				</div>
			</div>
		</ng-form>
		<ng-form name="confirmForm">
			<div class="control-group">
				<label class="control-label"><b>Confirm Password:</b></label>
				<div class="controls">
					<input value="{{ model.confirmPassword }}" name="confirmPassword" id="confirmPassword" class="form-control" type="password" placeholder="Confirm password" ng-model="model.confirmPassword" control-group="false" isrequired="true" field-validate >
				</div>
			</div>
		</ng-form>
	</form>
	<div style="clear: both;"></div>
</div>
<div class="modal-footer">
	<button class="btn btn-success" ng-disabled="userForm.$invalid" ng-click="model.changePassword()"><i class="glyphicon glyphicon-save"></i> Save</button>
	<button class="btn" ng-click="$dismiss()"><i class="glyphicon glyphicon-ban-circle"></i> Cancel</button>

</div>
