<div class="container" ng-cloak>
    <div class="row">
        <h2>Manage Notifications</h2>
        <table class="table table-hover table-striped">
            <tr>
                <th>Name</th>
                <th>Last Ran</th>
                <th># of Recipients</th>
                <th style="text-align: right;">Actions</th>
            </tr>
            <tbody>
            <tr ng-repeat="note in notifications">
                <td>{{ note.name.replace('_', ' ') }}</td>
                <td>{{ note.lastran |  date:'MM/dd/yyyy @ h:mma' }}</td>
                <td><a href="#/notifications" tooltip-placement="right" tooltip-html-unsafe="{{ note.recipients.join('\n') }}">{{ note.recipients.length }}</a></td>
                <td style="text-align: right;">
                    <a ng-click="editNotification(note.Id)" class="btn btn-info"  data-toggle="modal"> Edit</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>