<div class="container" ng-cloak>
    <div class="row">
        <h2>Manage Notifications</h2>
        <table class="table table-hover table-striped">
            <thead>
                <tr class="bg-primary">
                    <th>Name</th>
                    <th>Last Ran</th>
                    <th># of Recipients</th>
                    <th style="text-align: right;">Actions</th>
                </tr>
            </thead>
            <tbody>
            <tr ng-repeat="note in notifications">
                <td>{{ note.name.replace('_', ' ') }}</td>
                <td>{{ note.lastran |  date:'MM/dd/yyyy @ h:mma' }}</td>
                <td><a href="#/notifications" tooltip-placement="right" tooltip-html-unsafe="{{ note.recipients.join('\n') }}">{{ note.recipients.length }}</a></td>
                <td style="text-align: right;">
                    <a ng-click="editNotification(note.Id)" class="btn"  data-toggle="modal">
                        <i class="glyphicon glyphicon-pencil"></i>   Edit
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>