<div class="container" ng-cloak>
    <div class="row">
        <h2>{{ currentNotification.name.replace('_', ' ') }}</h2>
        <div data-access-level='{{ currentNotification.canrunmanually }}' class="jumbotron">
            <h4 class="messagecontainer">
                To send notification immediately to all recipients in the list below, select a date and click the Run Notification button.
            </h4>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <p class="input-group">
                        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened"  max="maxDate" datepicker-options="dateOptions"  ng-required="true" close-text="Close" />
                      <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 pull-left">
                    <button class="btn btn-warning" id="run" ng-click="runNotification()">Run Notification</button>&nbsp;
                </div>
            </div>
        </div>
        <div class="row">
            <div>
                <b>Subject: <small>possible variables where applicable - !!date!! or !!site!!</small> </b>
                <input class="form-control" type="text" ng-model="currentNotification.subject" value="{{ currentNotification.subject }}"/>
            </div>
            <div>
                <b>From Email Address: </b>
                <input class="form-control" type="text" ng-model="currentNotification.fromemail" value="{{ currentNotification.fromemail}}"/>
            </div>
        </div>
        <br />
        <div class="col-lg-6 col-md-6 col-sm-6">
            <b>Recipients:</b>
            <div>
                <table class="table table-striped table-hover">
                    <tr ng-repeat="recipient in recipients">
                        <td>
                            {{ recipient }}
                        </td>
                        <td style="text-align: right;">
                            <button type="button" class="btn btn-danger btn-sm" ng-click="removeRecipient($index)">Remove</button>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <p >
                        <input type="email" class="form-control" name="addRecipient" ng-model="newRecipient" value="{{ newRecipient }}" id="addRecipient" required autofocus/>
                    </p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <button type="button" class="btn btn-success" ng-click="addRecipient()">Add Recipient</button>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <b>Bcc Recipients:</b>
            <div>
                <table class="table table-striped table-hover">
                    <tr ng-repeat="bcc in bccemails">
                        <td>
                            {{ bcc }}
                        </td>
                        <td style="text-align: right;">
                            <button type="button" class="btn btn-danger btn-sm" ng-click="removeBccRecipient($index)">Remove</button>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <p >
                        <input type="email" class="form-control" name="addRecipient" ng-model="newBccRecipient" value="{{ newBccRecipient }}" id="addBccRecipient" required autofocus/>
                    </p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <button type="button" class="btn btn-success" ng-click="addBccRecipient()">Add Recipient</button>
                </div>
            </div>
        </div>
    </div>
    <br />
    <hr/>

</div>