<div class="container view-container">
    <div class="row-fluid">
        <div class="pull-right">
            <button class="btn " type="button" ng-click="AddSite()">
                <i class="glyphicon glyphicon-plus"></i> Add Sites
            </button>
        </div>
        <h3>Manage Sites</h3>
        <table class="table table-hover table-striped">
            <thead>
            <tr class="bg-primary">
                <th>Name</th>
                <th>Description</th>
                <th>WashLink IP</th>
                <th>DB Type</th>
                <th style="text-align: right;">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="site in sites | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage">
                <td>{{ site.location }}</td>
                <td>{{ site.description }}</td>
                <td>{{ site.washlinkip }}</td>
                <td>{{ site.dbtype }}</td>
                <td style="text-align: right;">
                    <a ng-href="#/sites/{{ site.Id}}" class="btn">
                        <i class="glyphicon glyphicon-pencil"></i> Edit
                    </a>
                    <a ng-click="deleteSite(site)" class="btn">
                        <i class="glyphicon glyphicon-remove"></i> Delete
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <button class="btn" ng-hide="pagination.page == 0" ng-click="pagination.prevPage()">Previous</button>
    <span ng-repeat="n in [] | range: pagination.numPages" >
        <button class="btn btn-default" ng-class="{active: n == pagination.page}" ng-click="pagination.toPageId(n)">{{n + 1}}</button>
    </span>
    <button class="btn" ng-hide="pagination.page + 1 >= pagination.numPages" ng-click="pagination.nextPage()">Next</button>
</div>