<div class="container view-container">
    <div class="row-fluid">
        <div>
            <h3>Details for: {{ site.location }}</h3>
            <hr/>
            <!--<div  data-animate-event="isHidden">-->
                <!--<h2>Site Saved Successfully!!</h2>-->
            <!--</div>-->
            <form id="site-form">
                <div class="form-group">
                    <b>Name:</b><small> keep name all lower case with no spaces. this field is used as a key.</small>
                    <input value="{{ site.name }}" name="name" id="name" class="form-control" type="text" placeholder="Enter name" ng-model="site.name" required autofocus>
                </div>
                <div class="form-group">
                    <b>Location:</b>
                    <input value="{{ site.location }}" name="location" id="location" class="form-control" type="text" placeholder="Enter location" ng-model="site.location" required >
                </div>
                <div class="form-group">
                    <b>Description:</b>
                    <input value="{{ site.description }}" name="description" id="description" class="form-control" type="text" placeholder="Enter description" ng-model="site.description" required >
                </div>
                <div class="form-group">
                    <b>City:</b>
                    <input value="{{ site.city }}" name="city" id="city" class="form-control" type="text" placeholder="Enter city" ng-model="site.city" required >
                </div>
                <div class="form-group">
                    <b>Site Watch ID:</b>
                    <input value="{{ site.sitewatchid}}" name="sitewatchid" id="sitewatchid" class="form-control" type="text" placeholder="Enter site watch id" ng-model="site.sitewatchid" required >
                </div>
                <div class="form-group">
                    <b>Wash Link IP Address:</b>
                    <input value="{{ site.washlinkip}}" name="washlinkip" id="washlinkip" class="form-control" type="text" placeholder="Enter wash link ip address" ng-model="site.washlinkip" required >
                </div>
                <div class="form-group">
                    <b>Database Connection String:</b>
                    <input value="{{ site.dbconnectionstring}}" name="dbconnectionstring" id="dbconnectionstring" class="form-control" type="text" placeholder="Enter database connectionstring" ng-model="site.dbconnectionstring" required >
                </div>
                <div class="form-group">
                    <b>Database Name:</b>
                    <input name="dbname" id="dbname" class="form-control" type="text" placeholder="Enter database name" ng-model="site.dbname" required >
                </div>
                <div class="form-group">
                    <b>Database Type:</b><br />
                    <select class="form-control" ng-model="site.dbtype" ng-options="s for s in dbtypes">
                        <option value="">-- Select Type --</option>
                    </select>
                </div>
                <div>
                    <button class="btn btn-success" ng-click="saveSite()">Save</button>
                    <button class="btn btn-danger" type="button" ng-click="deleteSite()">Delete</button>
                    <button class="btn btn-link" ng-click="returnToList()">Return To List</button>
                </div>
            </form>
        </div>
    </div>
</div>