<div class="container view-container">
    <div class="row-fluid">
        <div class="pull-right">
            <button class="btn " ram-add-site ram-post-submit-action="modal.loadSites()">
                <i class="glyphicon glyphicon-plus"></i> Add Sites
            </button>
        </div>
        <h3>Manage Sites</h3>
        <table class="table table-hover table-striped">
            <thead>
            <tr class="bg-primary">
                <th>Name</th>
                <th>Description</th>
                <th>WashLink IP</th>
                <th>DB Type</th>
                <th style="text-align: right;">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="site in model.sites | startFrom: model.pagination.page * model.pagination.perPage | limitTo: model.pagination.perPage">
                <td>{{ site.location }}</td>
                <td>{{ site.description }}</td>
                <td>{{ site.washlinkip }}</td>
                <td>{{ site.dbtype }}</td>
                <td style="text-align: right;">
                    <button class="btn "  ram-add-site ram-editable="{{ site }}" ram-post-submit-action="model.loadSites()" >
                        <i class="glyphicon glyphicon-pencil"></i> Edit
                    </button>
                    <button ng-click="model.deleteSite(site)" class="btn">
                        <i class="glyphicon glyphicon-remove"></i> Delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <button class="btn" ng-hide="model.pagination.page == 0" ng-click="model.pagination.prevPage()">Previous</button>
    <span ng-repeat="n in [] | range: model.pagination.numPages" >
        <button class="btn btn-default" ng-class="{active: n == model.pagination.page}" ng-click="model.pagination.toPageId(n)">{{n + 1}}</button>
    </span>
    <button class="btn" ng-hide="model.pagination.page + 1 >= model.pagination.numPages" ng-click="model.pagination.nextPage()">Next</button>
</div>