<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<div class="container">
    <div class="row">
        <div>
            <h2>User Profile</h2>
            <div  data-animate-event="isHidden">
                <h2>Profile Saved Successfully!!</h2>
            </div>
            <form id="userprofile-form">
                <div class="form-group">
                    <b>First Name:</b>
                    <input value="{{ user.first }}" name="firstname" id="firstname" class="form-control" type="text" placeholder="Enter First Name" ng-model="user.first" required autofocus>
                </div>
                <div class="form-group">
                    <b>Last Name:</b>
                    <input value="{{ user.last }}" name="firstname" id="lastname" class="form-control" type="text" placeholder="EnterLast Name" ng-model="user.last" required >
                </div>
                <div class="form-group">
                    <b>Email:</b>
                    <input value="{{ user.email }}" name="email" id="email" class="form-control" type="email" placeholder="Enter Email" ng-model="user.email" required >
                </div>
                <div class="form-group">
                    <b>Password:</b>
                    <input name="password" id="password" class="form-control" type="password" placeholder="Enter Password" ng-model="user.password" required >
                </div>
                <div class="form-group">
                    <b>Security Role:</b><br />
                    <select class="form-control" ng-model="user.role" ng-options="r for r in roles">
                        <option value="">-- Select Role --</option>
                    </select>
                </div>
                <div>
                    <button class="btn btn-success" ng-click="saveProfile()">Save</button>
                    <button class="btn btn-danger" type="button" ng-click="deleteUser()">Delete</button>
                    <button class="btn btn-link" ng-click="returnToList()">Return To List</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>