<!DOCTYPE html>
<html>
<head>
    <title>User Mangement</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="pull-right">
            <button class="btn btn-success" type="button" ng-click="AddUser()">Add User</button>
        </div>
        <h2>Manage Users</h2>
        <table class="table table-hover table-striped">
            <tr>
                <th>First</th>
                <th>Last</th>
                <th>Email</th>
                <th>Role</th>
                <th style="text-align: right;">Actions</th>
            </tr>
            <tbody>
                <tr ng-repeat="user in users">
                    <td>{{ user.first }}</td>
                    <td>{{ user.last }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.role }}</td>
                    <td style="text-align: right;">
                        <a ng-href="/user/{{ user.Id}}" class="btn btn-primary"> Edit</a>
                        <a ng-href="/user/{{ user.Id }}" class="btn btn-danger"> Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>