<!DOCTYPE html>
<html>
<head>
    <title>User Mangement</title>
</head>
<body>
<div class="container">
    <div class="row">
        {{ confirmed }}
        <div class="pull-right">
            <button class="btn btn-success" type="button" ng-click="AddUser()">Add User</button>
        </div>
        <h2>Manage Users</h2>
        <table class="table table-hover table-striped">
            <tr>
                <th>First</th>
                <th>Last</th>
                <th>Email</th>
                <th>Role</th>
                <th style="text-align: right;">Actions</th>
            </tr>
            <tbody>
                <tr ng-repeat="user in users | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage">
                    <td>{{ user.first }}</td>
                    <td>{{ user.last }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.role }}</td>
                    <td style="text-align: right;">
                        <a ng-href="#/users/{{ user.Id}}" class="btn btn-info"> Edit</a>
                        <a ng-confirm-click="Are you sure you wanna do this?" factory-name="$dialogs" confirm-clicked="deleteUser(user)" class="btn btn-danger"> Delete</a>
                        <!--<a ng-click="launch('confirm')" confirmed-clicked="deleteUser(user)" class="btn btn-danger"> Delete</a>-->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <button class="btn btn-primary" ng-hide="pagination.page == 0" ng-click="pagination.prevPage()">Previous</button>
    <span ng-repeat="n in [] | range: pagination.numPages" >
        <button class="btn btn-default" ng-class="{active: n == pagination.page}" ng-click="pagination.toPageId(n)">{{n + 1}}</button>
    </span>
    <button class="btn btn-primary" ng-hide="pagination.page + 1 >= pagination.numPages" ng-click="pagination.nextPage()">Next</button>
</div>
</body>
</html>