<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
        <add key="mongoConnectionString" value="mongodb://psp.primeshine.com" />
        <add key="mongoDatabase" value="primeshine" />
        <add key="SMTP_Host" value="smtpout.secureserver.net" />
        <add key="SMTP_Username" value="test@valleyfarmsupply.com" />
        <add key="SMTP_Pwd" value="password" />
        <!--<add key="sitewatchConnectionString" value="Server=192.168.1.105;User=SYSDBA;Password=masterkey;Database=d:\\Databases\\PrimeShine\\SiteWatch\\SiteWatch.fdb"/>-->
        <add key="hqwebConnectionString" value="Data Source=192.168.1.8;Initial Catalog=PrimeShineCMS;User ID=dgs;Password=Fir3al" />
        <add key="sitewatchConnectionString" value="Server=192.168.1.191;User=reports;Password=reports;Database=D:\\SiteWatch\\DB\\SiteWatch.fdb" />
        <add key="BaseAPIUrl" value="http://pspapi.primeshine.com/" />
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Driver" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.2.235" newVersion="1.9.2.235" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Bson" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.2.235" newVersion="1.9.2.235" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>